*.pyc
*.so
*.o
*.a
.DS_store
#*
.#*
*~
Makefile.local
setup_local.py
build
dist
test/*
!test/*.py
!test/*.scm
!test/unit/
!test/unit/*.scm
!test/examples/
!test/examples/*.scm
!test/integration/
!test/integration/*.scm
!test/cpp
!test/cpp/
!test/issues/*.py
!test/issues/data_3960/VisIt_volume
*.egg-info
*.py#
