name: release_binary

on:
  push:
    tags: ["v*"]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # TODO: Build guile-mfem shared libraries and create release artifacts
      - name: Build release
        run: |
          echo "TODO: build guile-mfem release binaries"
          exit 1
